#pickingBlock {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1010;
}
#pickingBlock ~ div {
	z-index: 1015;
}

#picking_panel {
	padding: 10px 20px 20px 20px;
	position: fixed;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	min-height: 100px;
	min-width: 900px;
	background: #FFF;
	box-shadow: 0px 5px 20px #000;
	border-radius: 5px;
	cursor: default;
}
#picking_panel a, a:clicked, a:focus{
	text-decoration: none;
}
#picking_panel div {
	display: inline-block;
	position:relative;
	vertical-align:top;
	width: 100%;
}
#picking_panel #close_picking {
	color: #ccc;
	width:20px;
	cursor:pointer;
}
#picking_panel #picking_buttons {
	line-height: 30px;
	clear:right;
}
#picking_panel #actual_picking {
	height: 80%;
	text-align:left;
}
#picking_panel table thead {
	background: #dcdcdc;
	color: #4c4c4c;
	font-size: 13px;
	text-align: center;
}
#picking_panel table th,td {
	padding: 2px 10px;
	margin: 0 5px;
}
#picking_panel table tbody {
	font-size: 13px;
}
#picking_panel table tr {
	border-top: 1px solid #ccc;
}
#picking_panel table td {
	
}
#picking_panel table .remove {
	color: #c9302c;
	cursor: pointer;
	display: none;
}

/** Pallet template CSS **/
#actual_picking div{display: block;}
#pallet_info {
	padding: 0 10px;	
}
#pallet_info #buttons {
	
}
#pallet_info table td:first-child,#package_products th:first-child {
	width: 80%;
}
.picking_button {
	padding: 4px 5px;
	text-decoration: none;
	border-radius: 3px;
	background: #e3e3e3;
	background-image: linear-gradient(to bottom, #EFEFEF, #D8D8D8);
	border: 1px solid rgba(0,0,0,0.4);
	margin: 0 3px;
	color: #0F0F0F;
}
.picking_button:hover {
	text-decoration:none;
	color: #0F0F0F;
}
.toggle_pallet {
	background: #dcdcdc;
	color: #4c4c4c;
	margin: 5px 0;
	padding: 2px 10px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.4);
	border-bottom: none;
	display: inline-block!important;
	width: auto!important;
}
.toggle_package {
	background: #dcdcdc;
	color: #4c4c4c;
	padding: 2px 10px;
	border-radius: 5px 5px 0 0;
	border: 1px solid rgba(0,0,0,0.4);
	border-bottom: none;
	display: table-cell;
}
.toggle_package:hover {
	text-decoration:none;
	color: #FFF;
	background-image: linear-gradient(to bottom, #dcdcdc, #cccccc);
}
.red_button {
	padding: 4px 5px;
	text-decoration: none;
	border-radius: 3px;
	background: #DC5F59;
	border: 1px solid rgba(0,0,0,0.4);
	margin: 0 3px;
	color: #FFF;
	display: table-cell;
}
.red_button:hover {
	text-decoration:none;
	color: #FFF;
	background-image: linear-gradient(to bottom, #DC5F59, #CC5853);
}
.green_button {
	padding: 4px 5px;
	text-decoration: none;
	border-radius: 3px;
	background: #428B24;
	border: 1px solid rgba(0,0,0,0.4);
	margin: 0 3px;
	color: #FFF;
	display: table-cell;
}
.green_button:hover {
	text-decoration:none;
	color: #FFF;
	background-image: linear-gradient(to bottom, #428B24, #4e9a06);
}

/** PALLET **/
.pallet_button {
	border-right: none!important;
}
.print_pallet {
	border-left: 1px solid rgba(0,0,0,0.2);
	border-top-left-radius: 0!important;
	border-bottom-left-radius: 0!important;
	color: #fff!important;
	display: inline!important;
	padding-bottom: 5px;
	margin-left: -10px;
}