@charset "UTF-8";

.modal-lg {
	width: 1200px;
}

.openerp .oe_form_sheet_width {
    min-width: 650px;
    max-width: 980px;
    margin: 0px auto;
}

.openerp .oe_avatar>img {
	width: auto;
	height: auto; 
	max-height: 260px;
	max-width: 260px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	border: none;
	margin-bottom: 10px;
}

.openerp .oe_form 
td.oe_form_group_cell_label label {
	min-width: 120px;
}

.openerp .oe_searchview_drawer {
	clear: both;
}

.openerp .oe_leftbar > div a.oe_logo img {
	border-radius: 5px;
	box-shadow: 0px 5px 15px -5px black;
}

.vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    height:20px;
}